@model Project.Service.VehicleModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Project.Service.VehicleMake> vehicleMakes = ViewBag.VehicleMakes as IEnumerable<Project.Service.VehicleMake>;
}
<div class="head">
    <h2>Details -   @Html.DisplayFor(model => model.Name)</h2>
</div>

<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <dl class="dl-horizontal">
            <dt style="padding-bottom:20px;">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt style="padding-bottom:20px;">
                @Html.DisplayNameFor(model => model.Abrv)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Abrv)
            </dd>
            <dt style="padding-bottom:20px;">
                Make by
            </dt>
            <dd>
                @{var makeName = vehicleMakes.Where(s => s.Id == Model.MakeId).SingleOrDefault().Name;}
                @makeName
            </dd>

        </dl>

    </div>
    </section>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Nazad na listu</a>
    </div>
