@*@model IEnumerable<Project.Service.VehicleModel>*@
@model Project.Service.Models.PaginatedList<Project.Service.VehicleModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Project.Service.VehicleMake> vehicleMakes = ViewBag.VehicleMakes as IEnumerable<Project.Service.VehicleMake>;

 

}

<div class="head">
    <h2>Index</h2>
</div>

<div class="controls">
    <a asp-action="Create" class="btn btn-block btn-primary">Create New Vehicle-Model</a>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Petraži po imenu: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Vrati se na Listu</a>
            </p>
        </div>
    </form>
</div>

<section class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Abrv</a>
                    </th>
                    <th>
                        Make by
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Abrv)
                    </td>

                    <td>
                        @{var makeName = vehicleMakes.Where(s => s.Id == item.MakeId).SingleOrDefault().Name;
                        }
                        <a href="@item.MakeId" class="btn btn-info btn-xs">@makeName</a>
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default btn-sm">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</section>

<section>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</section>
